/* Jumbotron */
.jumbotron {
    padding-top: 5%;
    background-color: white;
}

.link:hover {
    opacity: 0.6;
    transition: 0.28s;
}

/* ABOUT */
.profile-picture {
    margin-top: 1em;
    margin-left: auto;
    margin-right: 5%;
    height: auto;
    width: 50%;
    border-radius: 100em;
}
.uni-link {
    color: #B31B1B;
}

.intern-link{
    color: green;
}

.mlh-link{
    color: blue;
}
