/* FONTS */
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 36px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 36px;    
    font-weight: bold;
    line-height: 150%;
    margin: 0;
}
h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h4 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h5 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h6 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
p, li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.28s;
}

/* Other */
.medium {
    font-weight: 500;
}
.pad {
    padding-top: 32%;
}
.section {
    margin-bottom: 3em;
}
.scroll {
    padding-top: 1.5em;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/* set navbar color to pink */
.navbar-custom {  
    background-color: #f6e3e7;
}
.navbar-default {
    border-radius: 0px;
    padding-top: 0%;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}
.c12 {
    grid-column: 2 / 12;
}
.c6-left {
    grid-column: 1 / 7;
}

/* SUMMARY */
.summary {
    display: grid;
    grid-template-columns: 100%;
}

/* BODY */
.main {
    margin-top: 3em;
    margin-bottom: 1em;
}
.content {
    display: grid;
    grid-column-gap: 5vw;
    grid-template-columns: auto;
    grid-row-gap: 10vw;
    grid-template-rows: auto auto auto;
    position: relative;
    margin-top: 3em;
}

/* FOOTER */
footer {
    color: #586069;
    padding: 3%;
}
.icons {
    display: inline-block;
    margin-left: 1.5vw;
    height: 2.5em;
    opacity: 0.45;
    transition: 0.28s;
}
.icons:hover {
    opacity: 1;
    transition: 0.28s;
}