/* Fonts */
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 36px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 36px;    
    font-weight: bold;
    line-height: 150%;
    margin: 0;
}
h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h4 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h5 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
h6 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}
p, li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.28s;
}

.medium {
    font-weight: 500;
}
.pad {
    padding-top: 32%;
}
.section {
    margin-bottom: 3em;
}
.scroll {
    padding-top: 1.5em;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}
.c12 {
    grid-column: 2 / 12;
}
.c6-left {
    grid-column: 1 / 7;
}

/* HEADER */
.hero {
    position: relative;
}
.header {
    display: flex;
    flex-direction: row;
    line-height: 3em;
}
.nav {
    line-height: 3em;
}
.option {
    display: inline;
    margin-left: 5vw;
    font-weight: normal;
    color: #586069;
}
.selected {
    font-weight: 500;
    color: black;
}
.title {
    display: flex;
    flex-direction: row;
}

/* FOOTER */
footer {
    display: flex;
    margin-top: 3em;
    line-height: 4em;
    color: #586069;
}
.social {
    grid-column: 9/ 13;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.icons {
    display: inline-block;
    margin-left: 1.5vw;
    height: 2.5em;
    opacity: 0.45;
    transition: 0.28s;
}
.icons:hover {
    opacity: 1;
    transition: 0.28s;
}

/* RESPONSIVE */
.content-web {
    display: none;
}
.content-mobile {
    display: inherit;
}

@media screen and (min-width: 450px) {
    h1 {
        font-size: calc(36px + 36* ((100vw - 320px) / 680));
    }
    h2 {
        font-size: calc(24px + 30 * ((100vw - 320px) / (680)));
    }
    h3 {
        font-size: calc(18px + 18 * ((100vw - 320px) / (680)));
    }
    h4 {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
    h5 {
        font-size: calc(16px + 4 * ((100vw - 320px) / (680)));
    }
    h6 {
        font-size: calc(14px + 2 * ((100vw - 320px) / (680)));
    }
    p, li {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 16px;
    }
    p, li {
        font-size: 24px;
    }
}

@media screen and (min-width: 550px) {
    /* GLOBAL */
    html {
        margin: 3vw 0vw;
    }
    .content-web {
        display: inline;
    }
    .content-mobile {
        display: none;
    }
    
    /* GRID */
    .grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    /* HEADER */
    .hero {
        margin-bottom: 3em;
    }
    .header {
        margin-bottom: 1.5em;
        line-height: 3em;
        justify-content: space-between;
    }
    .nav {
        margin-left: auto;
        line-height: 3em;
    }
    .option {
        margin-left: 3vw;
    }
    
    /* BODY */
    .content {
        grid-template-columns: auto auto;
        grid-row-gap: 5vw;
        margin-bottom: 3em;
    }
    .city {
        width: 90vw;
    }
    .photo {
        display: block;
        position: relative;
        margin-bottom: 1.5em;
        width: 50%;
        border-radius: 0.625vw;
        transition: 0.28s;
    }
    
    /* ABOUT */
    .profile-picture {
        height: 35vw;
        width: 35vw;
    }
}

@media screen and (min-width: 1000px) {
    /* GLOBAL */
    .content-web {
        display: inline;
    }
    
    /* HEADER */
    .selected {
        font-weight: 500;
        color: black;
    }
    
    /* SUMMARY */
    .summary {
        grid-template-columns: 50% 50%;
    }
    
    /* ABOUT */
    .profile-picture {
        margin-top: auto;
        margin-bottom: auto;
        height: 25em;
        width: 25em;
    }
}