<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio Hobbies Page">
    <meta property="og:url" content="{{ url }}">

    <title>Your Name · Hobbies</title>

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS Links -->
    <link rel="stylesheet" href="./static/styles/hobbies.css" type="text/css">
</head>

<body class="grid">
    <!-- Header -->
    <header class="c12">
        <!-- Nav -->
        <div class="hero">
            <div class="header">
                <h3 class="medium content-web"><a href="/">Your Name</a></h3>
                <nav class="nav">
                    <h5 class="option"><a href="work">Work</a></h5>
                    <h5 class="option selected">Hobbies</h5>
                    <h5 class="option"><a href="travel">Travel</a></h5>
                </nav>
            </div>
        </div>
    </header>

    <main class="c12 summary main">

        <div>
            <p>
                Here is a list of hobbies I enjoy pursuing!
            </p>
            <br>
            <br>
        </div>

        <div class="section">
            <h2 class="hobby">Hobby title 1: <span class="medium"></span></span></h2>
            <div class="scroll">
                <img alg="Hobby number 1" src="./static/img/hobby.jpg" class="photo">
            </div>
        </div>

        <div class="section">
            <h2 class="hobby">Hobby title 2: <span class="medium"></span></span></h2>
            <div class="scroll">
                <img alg="Hobby number 2" src="./static/img/hobby.jpg" class="photo">
            </div>
        </div>

        <div class="section">
            <h2 class="hobby">Hobby title 3: <span class="medium"></span></span></h2>
            <div class="scroll">
                <img alg="Hobby number 3" src="./static/img/hobby.jpg" class="photo">
            </div>
        </div>

        <div class="section">
            <h2 class="hobby">Hobby title 4: <span class="medium"></span></span></h2>
            <div class="scroll">
                <img alg="Hobby number 4" src="./static/img/hobby.jpg" class="photo">
            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer class="c12 grid">
        <div class="c6-left">
            <p>If you’re looking to work with me please email me at <a href="mailto:youremail@gmail.com" target="_blank" rel="noopener">youremail@gmail.com</a>.</p>
        </div>
        <div class="social">
            <a href="https://twitter.com" target="_blank" rel="noopener"><img alt="Twitter icon" src="./static/img/twitter.svg" class="icons"></a>
            <a href="https://github.com" target="_blank" rel="noopener"><img alt="Github icon" src="./static/img/github.svg" class="icons"></a>
            <a href="https://linkedin.com" target="_blank" rel="noopener"><img alt="LinkedIn icon" src="./static/img/linkedin.svg" class="icons"></a>
        </div>  
    </footer>
</body>

</html>
