<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio Hobbies Page">
    <meta property="og:url" content="{{ url }}">

    <title>Timeline · Nikki Licea</title>

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS & Javascript Links -->
    <link rel="stylesheet" href="./static/styles/main.css" type="text/css">
    <link rel="stylesheet" href="./static/styles/timeline.css" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class>
    <!-- Nabar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid navbar-custom">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="/">Nikki Licea</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="work">Work</a></li>
              <li><a href="hobbies">Hobbies</a></li>
              <li><a href="travel">Travel</a></li>
              <li><a href="timeline">Timeline</a></li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container-fluid">
        <p>Make a post to my timeline!</p>
        <form id="timeline_form" action="/api/timeline_post" method="POST" enctype="multipart/form-data">
            <input class="input" type="text" placeholder="Name" required name="name">
            <input class="input" type="email" placeholder="Email" required name="email">
            <input class="input" type="text" placeholder="Content" required name="content">
            <button class="button" type="submit">
                <i></i> SEND
            </button>
        </form>
        
        <p style="padding-top: 1%;">Timeline Posts</p>
        <!-- table for showing data -->
        <table style="width:100%" id="timeline_table"></table>
    </div>

    <!-- Footer -->
    <footer class="container-fluid text-center">
        <div class="c6-left">
          <p>If you’re looking to work with me please email me at <a href="mailto:nikkilicea@gmail.com" target="_blank" rel="noopener">nikkilicea@gmail.com</a>.</p>
        </div>
        <div class="social">
            <a href="https://twitter.com" target="_blank" rel="noopener"><img alt="Twitter icon" src="./static/img/twitter.svg" class="icons"></a>
            <a href="https://github.com/nikkilicea" target="_blank" rel="noopener"><img alt="Github icon" src="./static/img/github.svg" class="icons"></a>
            <a href="https://www.linkedin.com/in/nikki-licea/" target="_blank" rel="noopener"><img alt="LinkedIn icon" src="./static/img/linkedin.svg" class="icons"></a>
        </div>
    </footer>
</body>

</html>
<script src="{{url_for('static', filename='javascript/timeline.js')}}"></script>



