<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio Travel Page">
    <meta property="og:url" content="{{ url }}">

    <title>Travel · Your Name</title>

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS Links -->
    <link rel="stylesheet" href="./static/styles/travel.css" type="text/css">
</head>

<body class="grid">
    <!-- Header -->
    <header class="c12">
        <!-- Nav -->
        <div class="hero">
            <div class="header">
                <h3 class="medium content-web"><a href="/">Your Name</a></h3>
                <nav class="nav">
                    <h5 class="option"><a href="work">Work</a></h5>
                    <h5 class="option"><a href="hobbies">Hobbies</a></h5>
                    <h5 class="option selected">Travel</h5>
                </nav>
            </div>
        </div>
    </header>

    <main class="c12 summary main">

        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1laadRDwXVXqCM6TrHITuFkDL6Zr1JZg&ehbc=2E312F" width=50% height=20%></iframe>

        <!-- Athens -->
        <div class="section">
            <h2 class="city">Athens, <span class="medium">Greece</span></h2>
            <div class="scroll">
                <img alt="Acropolis, Athens, Greece" src="./static/img/athens.webp" class="photo">
            </div>
        </div>

        <!-- Dallas -->
        <div class="section">
            <h2 class="city">Dallas, <span class="medium">Texas</span></h2>
            <div class="scroll">
                <img alt="Dallas, Texas" src="./static/img/dallas.webp" class="photo">
            </div>
        </div>

        <!-- New York -->
        <div class="section">
            <h2 class="city">New York, <span class="medium">New York</span></h2>
            <div class="scroll">
                <img alt="New York Buildings" src="./static/img/newyork1.jpg" class="photo">
                <img alt="New York Billboards" src="./static/img/newyork2.jpg" class="photo">
            </div>
        </div>

        <!-- San Francisco -->
        <div class="section">
            <h2 class="city">San Francisco, <span class="medium">California</span></h2>
            <div class="scroll">
                <img alt="San Francisco" src="./static/img/SanFrancisco1.webp" class="photo">
            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer class="c12 grid pad">
        <div class="c6-left">
            <p>If you’re looking to work with me please email me at <a href="mailto:youremail@gmail.com" target="_blank" rel="noopener">youremail@gmail.com</a>.</p>
        </div>
        <div class="social">
            <a href="https://twitter.com" target="_blank" rel="noopener"><img alt="Twitter icon" src="./static/img/twitter.svg" class="icons"></a>
            <a href="https://github.com" target="_blank" rel="noopener"><img alt="Github icon" src="./static/img/github.svg" class="icons"></a>
            <a href="https://linkedin.com" target="_blank" rel="noopener"><img alt="LinkedIn icon" src="./static/img/linkedin.svg" class="icons"></a>
        </div>  
    </footer>
</body>

</html>