<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio Work Page">
    <meta property="og:url" content="{{ url }}">

    <title>Work · Nikki Licea</title>

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS Links -->
    <link rel="stylesheet" href="./static/styles/work.css" type="text/css">
</head>

<body class="grid">
    <!-- Header -->
    <header class="c12">
        <!-- Nav -->
        <div class="hero">
            <div class="header">
                <h3 class="medium content-web"><a href="/">Nikki Licea</a></h3>
                <nav class="nav">
                    <h5 class="option selected">Work</h5>
                    <h5 class="option"><a href="hobbies">Hobbies</a></h5>
                    <h5 class="option"><a href="travel">Travel</a></h5>
                    <h5 class="option"><a href="timeline">Timeline</a></h5>
                </nav>
            </div>
        </div>
    </header>

    <main class="c12 summary main">
        <div>
            <p>
                My work experiences include but may not be limited to:
            </p><br>
            <p>
                - Production Engineer Fellow at <a href="https://mlh.io/" target="_blank" rel="noopener" class="link mlh-link">Major League Hacking</a> for Summer 2022<br>
                - Intern at <a href="https://mlh.io/" target="_blank" rel="noopener" class="link intern-link">Internship Company</a> for Time Period<br>
                - Job Title at <a href="https://mlh.io/" target="_blank" rel="noopener" class="link job-link">Company</a> between Start and End<br>
                - Other Job Title at <a href="https://mlh.io/" target="_blank" rel="noopener" class="link other-job-link">Other Company</a> between Start and End<br>
                - I have also spent some time doing Project Headline with <a href="https://mlh.io/" target="_blank" rel="noopener" class="link project-link">Group</a> during Time Period<br>
            </p>
        </div>
    </main>

    <footer class="c12 grid">
        <div class="c6-left">
            <p>If you’re looking to work with me please email me at <a href="mailto:nikkilicea@gmail.com" target="_blank" rel="noopener">nikkilicea@gmail.com</a>.</p>
        </div>
        <div class="social">
            <a href="https://twitter.com" target="_blank" rel="noopener"><img alt="Twitter icon" src="./static/img/twitter.svg" class="icons"></a>
            <a href="https://github.com" target="_blank" rel="noopener"><img alt="Github icon" src="./static/img/github.svg" class="icons"></a>
            <a href="https://linkedin.com" target="_blank" rel="noopener"><img alt="LinkedIn icon" src="./static/img/linkedin.svg" class="icons"></a>
        </div>  
    </footer>
</body>

</html>
